.projectsmaincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle_block{
    background: radial-gradient(circle, #FFD700, #FF8C00);
      border-radius: 50%;
      height: 300px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 300px;
      box-shadow: 0 0 20px #FFD700;
      transition: background 1s, box-shadow 1s;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
     overflow: hidden;
     
}
.section1images2{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    /* background-color: red; */
    gap: 3vw;
    flex-shrink: 0;
    overflow: hidden;
    /* border-radius: 50%; */
    mix-blend-mode: difference;
}
.icon{
    font-size: 100px;
   
}
.section1{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
   
}
.section2{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
   
}
.center{
    padding: 80px;
    height: 65vh;
    width: 100%;
    display: flex;
}
.center-part1{
    /* background-color: antiquewhite; */
    height: 100%;
    width: 45%;
    text-align: left;
    z-index: 1;
    mix-blend-mode: difference;
}
.center-part1 h1{
    font-size: 30px;
    line-height: 30px;
}
.center-part1 p{
    font-size: 15px;
    line-height: 15px;
    width: 95%;
    margin-top: 20px;
}
.center-part2{
   /* background-color: burlywood; */
   height: 100%;
   width: 55%;
}
 
.section1images{
    display: flex;
    gap: 10px;
    /* background-color: aliceblue; */
    justify-content: space-between;
    padding: 10px 100px;
    background: invert(white);
}
.section1images i{
    font-size: 64px; /* Adjust size as needed */
    width: 18px; /* This won't affect the icon directly */
    height: 18px;
   
}
.section2 .services{
    display: flex;
    /* background-color: red; */
    padding: 40px 20px;
    align-items:center;
    justify-content: flex-start;
    gap: 20px;
}
.services {
    transform: translateX(-500px); /* Start off-screen to the left */
    opacity: 0; /* Start fully transparent */
  }
 
.services p{
   width: 70%;
   font-size: 20px;
   text-align: left;
}
.services h3{
    background-color: yellow;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 30px;
    color: rgb(15, 15, 15);
}
 
.section2-container{
    height: 80%;
    width: 100%;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
     transform: translateX(-500px); /* Start off-screen to the left */
    opacity: 0;
}
 
.item{
    flex-shrink: 0;
    height: 300px;
    width: 45%;
    background-color: red;
    border: 3px solid black;
    border-radius: 50px;
    box-shadow: 0px 5px 0px rgb(236, 221, 221);
    padding: 50px;
    display: flex;
}
.item-part1{
   height: 100%;
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
}
 
.item-part2{
    height: 100%;
    width: 50%;
   
}
.item-part2 img{
    height: 100%;
   
 
}
 
@media (max-width:800px) {
    /* body{
        height: 100%;
        width: 100%;
        overflow-x: hidden;
     
    } */
    /* .section1{
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 2;
       
    }
    .section2{
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 2;
       
    } */
    .center{
        padding: 20px;
        height: 65vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .center-part1{
        height: 100%;
        width: 45%;
        text-align: left;
        z-index: 1;
        mix-blend-mode: difference;
        top: 10%;
        position: relative;
    }
    .center-part1 h1{
        font-size: 20px;
        line-height: 20px;
    }
    .center-part1 p{
        font-size: 12px;
        line-height: 10px;
        width: 95%;
        margin-top: 20px;
    }
    .center-part2{
       height: 100%;
       width: 100%;
       position: relative;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .circle_block{
        background: radial-gradient(circle, #FFD700, #FF8C00);
          border-radius: 50%;
          height: 250px;
          /* left: 10%; */
          position: absolute;
          top: 30%;
          transform: translateX(-50%) translateY(-50%);
          width: 250px;
          box-shadow: 0 0 20px #FFD700;
          transition: background 1s, box-shadow 1s;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
         /* overflow: hidden; */
         
    }
    .section1images2{
        display: flex;
        align-items: center;
        width: 50px;
        height: 50px;
        /* background-color: red; */
        gap: 3vw;
        flex-shrink: 0;
        overflow: hidden;
        /* border-radius: 50%; */
        mix-blend-mode: difference;
    }
    .icon{
        font-size: 50px;
       
    }
    .section1images{
        display: flex;
        gap: 5px;
        /* background-color: aliceblue; */
        justify-content: space-evenly;
        padding: 20px 10px;
        background: invert(white);
    }
    .section1images i{
        font-size: 32px; /* Adjust size as needed */
        width: 18px; /* This won't affect the icon directly */
        height: 18px;
       
    }
    .section2 .services{
        display: flex;
        padding: 40px 10px;
        align-items:center;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 30px;
    }
    /* .services {
        display: flex;
        transform: translateX(-500px);
        opacity: 0;    
       
      } */
     
    .services p{
       width: 100%;
       font-size: 12px;
       text-align: left;
    }
    .services h3{
        background-color: yellow;
        font-weight: 500;
        padding: 8px 10px;
        border-radius: 5px;
        font-size: 15px;
        color: rgb(15, 15, 15);
        margin-top: 5px;
    }
 
    .section2-container{
        height: 100%;
    width: 100%;
    padding: 40px 10px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    /* flex-wrap: wrap; */
     transform: translateX(-500px); /* Start off-screen to the left */
    opacity: 0;
    }
   
    .item{
        flex-shrink: 0;
        height: 100%;
        width: 55%;
        background-color: red;
        border: 3px solid black;
        border-radius: 25px;
        box-shadow: 0px 5px 0px rgb(236, 221, 221);
        padding: 50px 5px;
        display: flex;
    }
    .item-part1{
       height: 100%;
       width: 50%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       flex-direction: column;
    }
    .item-part1 h2{
     font-size: 12px;
    }
    .item-part1 h4{
     font-size: 10px;
    }
   
    .item-part2{
        height: 100%;
        width: 50%;
       
    }
    .item-part2 img{
        height: 100%;
        width: 50px;
       
   
    }
    .projectsmaincontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}
